.header-container {
  padding: 0;
  display: flex;
  justify-content: center;
}
.header-container .header {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.header-container .header .logo {
  width: 10%;
}
.header-container .header .logo .logo-size {
  display: flex;
  justify-content: center;
  padding: 4px 0;
  margin: 0;
  width: 100%;
}
@media screen and (max-width: 576px) {
  .header-container .header .logo {
    display: none;
  }
}
.header-container .header .onda {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container .header .onda img {
  width: 80%;
}
@media screen and (max-width: 576px) {
  .header-container .header .onda {
    display: none;
  }
}
.header-container .header .redes-header {
  width: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .header .redes-header .ig-header, .header-container .header .redes-header .wp-header {
  width: 30px;
}
.header-container .header .redes-header .ig-header:hover, .header-container .header .redes-header .wp-header:hover {
  transform: scale(1.2);
  transition: all 1s;
}
.header-container .header .redes-header .email-header {
  width: 40px;
}
.header-container .header .redes-header .email-header:hover {
  transform: scale(1.2);
  transition: all 1s;
}
@media screen and (max-width: 576px) {
  .header-container .header .redes-header {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .header-container {
    padding: 0;
  }
}

.nav-diabesticky {
  position: sticky;
  top: 0;
  box-shadow: 1px 2px 4px grey;
  z-index: 1;
  background-color: #d3cece;
}
@media screen and (max-width: 576px) {
  .nav-diabesticky * {
    top: 0;
  }
}
.nav-diabesticky .logo-menu img {
  display: none;
}
@media screen and (max-width: 576px) {
  .nav-diabesticky .logo-menu img {
    display: block;
    width: 50%;
  }
}
.nav-diabesticky .li-nav {
  margin: 0 20px;
}
.nav-diabesticky .li-nav:hover {
  transform: scale(1.3);
  transition: all 1s;
}

.carousel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.carousel .carousel-item img {
  width: 100%;
}

h1 {
  text-align: center;
  color: red;
  margin: 20px 0;
  padding: 20px 0;
  font-family: "Roboto";
  font-size: 3em;
  font-weight: bold;
  text-shadow: 1px 2px 4px #c2bdbd;
}

.container-productos .row-productos .marco {
  background-color: #FFF;
  width: 80%;
  border: 1px solid grey;
  border-radius: 0 0 5px 5px;
  margin: auto;
  padding-bottom: 5px;
  box-shadow: 1px 2px 2px grey;
  text-align: center;
}
.container-productos .row-productos .marco:hover {
  box-shadow: 2px 2px 10px grey;
}
.container-productos .row-productos .marco a {
  text-decoration: none;
  color: black;
}
.container-productos .row-productos .marco a img {
  width: 100%;
}
.container-productos .row-productos .marco a img:hover {
  transform: scale(0.95);
  transition: all 1s;
}
.container-productos .row-productos .marco a h4 {
  text-align: left;
  font-family: "Roboto";
  font-size: 16px;
  padding: 6px 0 0 0;
  margin: 5px 0 0 10px;
}
@media screen and (max-width: 576px) {
  .container-productos .row-productos .marco a h4 {
    text-align: left;
    font-size: 20px;
    margin-left: 15px;
  }
}
.container-productos .row-productos .marco a p {
  margin: 5px auto;
  width: 30%;
  font-size: 25px;
  font-family: "Roboto";
  text-align: left;
}
.container-productos .row-productos .marco a .boton-comprar {
  text-decoration: none;
  color: red;
  border: 1px solid red;
  border-radius: 20px;
  padding: 2px 12px;
}
.container-productos .row-productos .marco a .boton-comprar:hover {
  text-decoration: none;
  color: #FFF;
  background-color: red;
  border: 1px solid red;
  border-radius: 20px;
  padding: 2px 12px;
  padding: 2px 12px;
  transition: all 1s;
}
@media screen and (max-width: 576px) {
  .container-productos .row-productos .marco a {
    width: 90%;
  }
}

.banner {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
@media screen and (max-width: 576px) {
  .banner {
    flex-wrap: wrap;
    margin: 10px auto;
  }
}
.banner .tarjeta {
  width: 35%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px gray;
  border-radius: 6px;
  margin: 10px auto;
}
@media screen and (max-width: 576px) {
  .banner .tarjeta {
    width: 100%;
  }
}
.banner .tarjeta i {
  width: 15%;
  margin: 10px;
  font-size: 35px;
  color: red;
  background-color: transparent;
}
.banner .tarjeta .texto-tarjeta {
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
}
.banner .tarjeta .texto-tarjeta h6 {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-size: 20px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 576px) {
  .banner .tarjeta .texto-tarjeta h6 {
    font-size: 18px;
  }
}
.banner .tarjeta .texto-tarjeta p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
@media screen and (max-width: 576px) {
  .banner .tarjeta .texto-tarjeta p {
    font-size: 14px;
  }
}
.banner .seguridad {
  width: 35%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px gray;
  border-radius: 6px;
  margin: 10px auto;
}
@media screen and (max-width: 576px) {
  .banner .seguridad {
    width: 100%;
  }
}
.banner .seguridad i {
  width: 15%;
  margin: 10px;
  font-size: 35px;
  color: red;
  background-color: transparent;
}
.banner .seguridad .texto-seguridad {
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
}
.banner .seguridad .texto-seguridad h6 {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-size: 20px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 576px) {
  .banner .seguridad .texto-seguridad h6 {
    font-size: 18px;
  }
}
.banner .seguridad .texto-seguridad p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
@media screen and (max-width: 576px) {
  .banner .seguridad .texto-seguridad p {
    font-size: 14px;
  }
}

.contenedor-envios {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.contenedor-envios .envios {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px 0;
}
@media screen and (max-width: 576px) {
  .contenedor-envios .envios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 80px 0;
  }
}
.contenedor-envios .envios img {
  width: 60px;
  margin: 0 20px 10px 0;
}
.contenedor-envios .envios h3 {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (max-width: 576px) {
  .contenedor-envios .envios h3 {
    font-size: 18px;
  }
}

.ubicacion {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .ubicacion {
    margin: auto;
    flex-direction: column;
    width: 90%;
  }
}
.ubicacion .plano {
  margin: 50px 10px 100px 300px;
  border: 1px solid black;
}
@media screen and (max-width: 576px) {
  .ubicacion .plano {
    width: auto;
    margin: 0;
  }
}
.ubicacion .direccion {
  width: 20%;
  height: 60px;
  margin-top: 150px;
  margin-right: 100px;
}
.ubicacion .direccion p {
  margin: 2px;
}
@media screen and (max-width: 576px) {
  .ubicacion .direccion {
    width: 100%;
    margin: 10px 10px 100px 10px;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .ubicacion .direccion {
    margin: 10px auto 70px;
    font-size: 16px;
  }
}

.footer-container {
  color: #FFF;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-container .footer {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-container .footer .contenedor-menu-footer {
  height: auto;
  margin: 10px;
}
.footer-container .footer .contenedor-menu-footer .menu-footer {
  height: auto;
}
.footer-container .footer .contenedor-menu-footer .menu-footer ul li {
  list-style-type: none;
  margin-top: 5px;
}
.footer-container .footer .contenedor-menu-footer .menu-footer ul li:hover {
  text-decoration: underline;
  text-decoration-color: rgba(181, 247, 236, 0.5);
  transition: all 2s;
}
.footer-container .footer .contenedor-menu-footer .menu-footer ul li a {
  color: white;
  text-decoration: none;
  margin: 15px 0;
  font-size: 18px;
}
@media screen and (max-width: 576px) {
  .footer-container .footer .contenedor-menu-footer .menu-footer ul li a {
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  .footer-container .footer .contenedor-menu-footer .menu-footer ul {
    padding-left: 0;
  }
}
@media screen and (max-width: 576px) {
  .footer-container .footer .contenedor-menu-footer {
    margin: 6px 0 10px 20px;
  }
}
.footer-container .footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .footer-container .footer .social {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer-container .footer .social .redes-sociales {
  text-align: center;
}
@media screen and (max-width: 576px) {
  .footer-container .footer .social .redes-sociales h4 {
    display: none;
  }
}
.footer-container .footer .social .redes-sociales a {
  text-decoration: none;
}
.footer-container .footer .social .redes-sociales a i {
  color: #FFF;
  font-size: 30px;
  margin: 10px;
}
@media screen and (max-width: 576px) {
  .footer-container .footer .social .redes-sociales a i {
    font-size: 15px;
    margin: 2px;
  }
}
.footer-container .medios {
  margin: 20px 0;
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-container .medios .texto-medios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.footer-container .medios .texto-medios h5 {
  width: 100%;
  margin: 0;
}
@media screen and (max-width: 576px) {
  .footer-container .medios .texto-medios h5 {
    width: 100%;
    margin: 0 0 5px 4px;
    font-size: 16px;
  }
}
.footer-container .medios .texto-medios .tarjetas {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.footer-container .medios .texto-medios .tarjetas img {
  height: 25px;
  margin: 5px;
}
@media screen and (max-width: 576px) {
  .footer-container .medios .texto-medios .tarjetas img {
    height: 15px;
    margin: 2px;
  }
}
.footer-container .medios .texto-medios .tarjetas p {
  margin: 0;
}
.footer-container .medios .texto-medios h5 {
  width: 100%;
  margin: 10px 0;
}
@media screen and (max-width: 576px) {
  .footer-container .medios .texto-medios h5 {
    width: 100%;
    margin: 5px 0 5px 4px;
    font-size: 16px;
  }
}
.footer-container .medios .texto-medios .mercado-envios {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.footer-container .medios .texto-medios .mercado-envios img {
  height: 25px;
  margin: 5px;
}
@media screen and (max-width: 576px) {
  .footer-container .medios .texto-medios .mercado-envios img {
    height: 15px;
    margin: 2px;
  }
}
@media screen and (max-width: 576px) {
  .footer-container .medios {
    width: 50%;
    margin: 5px;
    padding: 0 0 35px 0;
  }
}
.footer-container .desarrollo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container .desarrollo .textos-desarrollo {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-container .desarrollo .textos-desarrollo .texto1 p {
  color: white;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0;
  font-size: 14px;
}
@media screen and (max-width: 576px) {
  .footer-container .desarrollo .textos-desarrollo .texto1 p {
    font-size: 12px;
  }
}
.footer-container .desarrollo .textos-desarrollo .texto2 p {
  color: white;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0;
  font-size: 16px;
}
@media screen and (max-width: 576px) {
  .footer-container .desarrollo .textos-desarrollo .texto2 p {
    font-size: 12px;
  }
}
@media screen and (max-width: 576px) {
  .footer-container .desarrollo .textos-desarrollo {
    width: 100%;
  }
}

.titulo-nosotros h1 {
  text-align: center;
  color: red;
  margin: 30px 0;
  padding: 20px 0;
  font-family: "Roboto";
  font-size: 3em;
  font-weight: bold;
  text-shadow: 1px 2px 4px #c2bdbd;
}
@media screen and (max-width: 576px) {
  .titulo-nosotros h1 {
    font-size: 2em;
    margin: 0;
  }
}

.contenedor-nosotros {
  margin: 50px auto;
  padding-bottom: 150px;
}
.contenedor-nosotros .marco-nosotros {
  width: 90%;
  background-color: white;
  padding: 40px;
  margin: auto;
  border-radius: 6px;
  box-shadow: 1px 2px 6px grey;
}
.contenedor-nosotros .marco-nosotros img {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #838080;
  box-shadow: 1px 2px 6px grey;
}
.contenedor-nosotros .marco-nosotros img:hover {
  transform: rotate(2deg);
  transition: all 0.5s;
  box-shadow: 2px 2px 10px grey;
}
.contenedor-nosotros .marco-nosotros .texto-nosotros {
  padding: 0 20px;
  text-align: justify;
}
@media screen and (max-width: 576px) {
  .contenedor-nosotros .marco-nosotros .texto-nosotros {
    padding: 0;
    margin: 20px 0;
  }
}
@media screen and (max-width: 576px) {
  .contenedor-nosotros {
    margin: 35px auto;
    padding-bottom: 50px;
  }
}

.container-protectores .row-protectores .producto {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Valores para los cuadros de textos descriptivos */
.section-encabezado .encabezado h1 {
  text-align: center;
  margin-top: 20px;
  color: red;
}

.container-stickers .row-stickers .descripcion {
  height: auto;
  margin: 10px 0;
  padding: 10px 30px;
  border-radius: 6px;
  box-shadow: 1px 2px 2px grey;
  background-color: #FFF;
}
.container-stickers .row-stickers .descripcion p {
  text-align: justify;
}
@media screen and (max-width: 576px) {
  .container-stickers .row-stickers .descripcion {
    width: 95%;
    margin: 20px auto 50px;
  }
}

.container-stickers .container-row {
  margin: 50px 0 100px 0;
  padding: 0 100px;
}
.container-stickers .container-row .producto {
  background-color: #FFF;
  width: 80%;
  border: 1px solid grey;
  border-radius: 0 0 5px 5px;
  margin: auto;
  padding-bottom: 20px;
  box-shadow: 1px 2px 2px grey;
  text-align: center;
}
.container-stickers .container-row .producto:hover {
  box-shadow: 2px 2px 10px grey;
  transform: scale(1.05);
  transition: all 1S;
}
.container-stickers .container-row .producto img {
  width: 100%;
}
.container-stickers .container-row .producto h4 {
  text-align: left;
  font-family: "Roboto";
  font-size: 16px;
  padding: 6px 0 0 0;
  margin: 5px 0 0 10px;
}
@media screen and (max-width: 576px) {
  .container-stickers .container-row .producto h4 {
    text-align: left;
    font-size: 20px;
    margin-left: 15px;
  }
}
.container-stickers .container-row .producto p {
  margin: 5px auto;
  width: 30%;
  font-size: 25px;
  font-family: "Roboto";
  text-align: left;
}
.container-stickers .container-row .producto a {
  text-decoration: none;
  color: red;
  border: 1px solid red;
  border-radius: 20px;
  padding: 2px 12px;
}
.container-stickers .container-row .producto a:hover {
  text-decoration: none;
  color: #FFF;
  background-color: red;
  border: 1px solid red;
  border-radius: 20px;
  padding: 2px 12px;
  transition: all 1s;
}
@media screen and (max-width: 576px) {
  .container-stickers .container-row .producto {
    padding: 15px;
    margin: 10px;
  }
}
@media screen and (max-width: 576px) {
  .container-stickers .container-row {
    margin: 0 0 80px 0;
    padding: 0;
  }
}

.contenedor-fila .foto-protector {
  margin: 50px auto 0;
  padding: 0 10px;
}
@media screen and (max-width: 576px) {
  .contenedor-fila .foto-protector {
    margin: 35px auto 0;
    padding: 0 10px;
  }
}
.contenedor-fila .detalle-flex {
  margin-top: 50px;
}
.contenedor-fila .detalle-flex .variantes {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  margin-bottom: 30px;
}
.contenedor-fila .detalle-flex .variantes h2 {
  font-size: 22px;
  text-decoration: underline;
}
@media screen and (max-width: 576px) {
  .contenedor-fila .detalle-flex .variantes h2 {
    font-size: 18px;
  }
}
.contenedor-fila .detalle-flex .variantes p {
  text-align: left;
  font-size: 40px;
  margin-left: 10px;
  color: red;
}
.contenedor-fila .detalle-flex .variantes h4 {
  text-align: left;
}
@media screen and (max-width: 576px) {
  .contenedor-fila .detalle-flex .variantes {
    width: 90%;
    margin: 0 0 30px 10px;
  }
}
.contenedor-fila .detalle-flex a {
  text-decoration: none;
  color: red;
  background-color: rgba(255, 0, 0, 0.123);
  border: 1px solid red;
  border-radius: 20px;
  padding: 4px 12px;
}
.contenedor-fila .detalle-flex a:hover {
  text-decoration: none;
  color: #FFF;
  background-color: red;
  border: 1px solid red;
  border-radius: 20px;
  padding: 4px 12px;
  transition: all 0.5s;
}
@media screen and (max-width: 576px) {
  .contenedor-fila .detalle-flex a {
    width: 100%;
    margin: 50px 0 0 10px;
  }
}
@media screen and (max-width: 576px) {
  .contenedor-fila .detalle-flex {
    width: 90%;
    margin: 50px 0 0 0;
  }
}

.description {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 1px 2px 2px grey;
  margin-bottom: 100px;
  padding: 20px;
}
.description h2 {
  text-decoration: underline;
  margin: 0 10px;
  font-size: 20px;
}
.description h4 {
  font-size: 18px;
  margin: 20px 10px;
  text-transform: uppercase;
}
.description p {
  margin: 10px;
}
@media screen and (max-width: 576px) {
  .description {
    margin: 40px auto;
    width: 90%;
  }
}

.contenedor-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contenedor-form h1 {
  color: red;
  text-align: center;
  margin-top: 50px;
}
@media screen and (max-width: 576px) {
  .contenedor-form h1 {
    margin-top: 30px;
    font-size: 25px;
  }
}
.contenedor-form p {
  padding: 30px;
  text-align: justify;
}
@media screen and (max-width: 576px) {
  .contenedor-form p {
    padding: 0;
    text-align: justify;
  }
}
.contenedor-form .form {
  width: 40%;
  height: 600px;
  margin: 20px auto 200px;
  padding-top: 30px;
  border: 2px dashed black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .contenedor-form .form {
    width: 80%;
    height: 500px;
  }
}
.contenedor-form .form .input {
  width: 70%;
  height: 20px;
  border-bottom: 1px solid black;
  padding: 20px;
  margin: 6px;
}
@media screen and (max-width: 576px) {
  .contenedor-form .form .input {
    font-size: 12px;
    width: 80%;
    height: 20px;
    border-bottom: 1px solid black;
  }
}
.contenedor-form .form .mensaje {
  height: 250px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 30px;
}
.contenedor-form .form .enviar {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor-form .form .enviar a {
  text-decoration: none;
  text-transform: uppercase;
  color: red;
  border: 1px solid red;
  border-radius: 20px;
  padding: 2px 25px;
}
.contenedor-form .form .enviar a:hover {
  text-decoration: none;
  color: #FFF;
  background-color: red;
  border: 1px solid red;
  border-radius: 20px;
  padding: 2px 25px;
  transition: all 1s;
  box-shadow: 2px 2px 10px grey;
}
@media screen and (max-width: 576px) {
  .contenedor-form .form .enviar {
    margin: 10px auto 20px;
  }
}
@media screen and (max-width: 576px) {
  .contenedor-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.container-protectores .row-protectores .producto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-protectores {
  width: 100%;
}
.container-protectores .row-protectores {
  margin-bottom: 50px;
  padding: 20px 20px;
}
.container-protectores .row-protectores .protector-card {
  display: flex;
}
.container-protectores .row-protectores .producto {
  background-color: #FFF;
  padding: 15px;
  margin: 10px;
  width: 100%;
  border-radius: 0 0 5px 5px;
  box-shadow: 1px 2px 2px grey;
  flex-direction: column;
}
.container-protectores .row-protectores .producto:hover {
  box-shadow: 2px 2px 10px grey;
}
.container-protectores .row-protectores .producto img {
  width: 100%;
  border-radius: 5px;
}
.container-protectores .row-protectores .producto img:hover {
  transform: rotatez(360deg);
  transition: all 0.5s;
  border-radius: 150px;
}
.container-protectores .row-protectores .producto h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: 10px;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .container-protectores .row-protectores .producto h3 {
    font-size: 18px;
  }
}
.container-protectores .row-protectores .producto p {
  margin: auto;
  width: 100%;
  font-size: 30px;
  text-align: center;
}
.container-protectores .row-protectores .producto a {
  text-decoration: none;
  color: red;
  border: 1px solid red;
  border-radius: 20px;
  padding: 2px 12px;
}
.container-protectores .row-protectores .producto a:hover {
  text-decoration: none;
  color: #FFF;
  background-color: red;
  border: 1px solid red;
  border-radius: 20px;
  padding: 2px 12px;
  transition: all 1s;
}
@media screen and (max-width: 576px) {
  .container-protectores .row-protectores {
    margin: 0 0 80px 0;
    padding: 0;
  }
}

.container-descripcion {
  background-color: rgba(181, 247, 236, 0.384);
  width: 100%;
  margin: auto;
  height: auto;
  padding: 20px 20px 50px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px darkgray;
  margin-bottom: 150px;
}
.container-descripcion .row-descripcion h4 {
  margin: 20px 0;
  text-decoration: underline;
}
.container-descripcion .row-descripcion p {
  text-align: justify;
  margin: 10px 0;
}
@media screen and (max-width: 576px) {
  .container-descripcion {
    width: 82%;
    margin-bottom: 60px;
  }
}

/* Valores para los cuadros de textos descriptivos */
/*Publicidad Hosting*/
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fffcf9;
}

.disclaimer {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
