.contenedor-formulario {

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(181, 247, 236, 0.5);
    margin: auto;

    h1 {
        text-align: center;
        color: red;
        margin: 30px 0;
        padding: 20px 0;
        font-family: "Roboto";
        font-size: 3em;
        font-weight: bold;
        text-shadow: 1px 2px 4px rgb(194, 189, 189);
       
        @media screen and (max-width: 576px) {
            font-size: 1.5em;
            margin: 20px auto 0;
        }
    }

    .formulario {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(99, 94, 94, 0.452);
        width: 35%;
        border-radius: 20px;
        padding: 50px 0;
        margin: 50px auto 200px;

        @media screen and (max-width: 576px) {
            width: 90%;
            margin: 50px auto 100px;
        }
     

    
        .nombre, .apellido, .email, .mensaje {
            width: 70%;
            text-transform: uppercase;
            font-size: 14px;
            font-family: "Roboto";
            color: #FFF;
            margin-bottom: 10px;

            @media screen and (max-width: 576px) {
                width: 80%;
                font-size: 12px;
    
            }
    
        }
    
        #nombre, #apellido, #email, #mensaje {
            width: 70%;
            margin-bottom: 20px;
            background-color: transparent;

            @media screen and (max-width: 576px) {
                width: 80%;
    
            }
        }

        input {
            border: none;
            border-bottom: 1px solid #FFF;
        }

        textarea {
            border: 1px solid #FFF;
        }

        .boton-enviar {
            background-color: transparent;
            color: #FFF;
            font-weight: bold;
            border: 2px solid #FFF;
            border-radius: 20px;
            padding: 2px 30px;
            margin-top: 40px;

            &:hover {
                color: #FFF;
                background-color: red;
                border: 2px solid red;
                border-radius: 20px;
                padding: 2px 30px;
                transition: all 1s;
                box-shadow: $box-shadow-hover;
            }
        }
    
    
    }
}
