.contenedor-envios {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;


    .envios {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 80px 0 50px 0;

        @media screen and (max-width: 576px) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0 0 80px 0;
        }

        img {
            width: 60px;
            margin: 0 0 10px 0;
        }

        h3 {
            
            text-align: center;
      
            color: red;
            text-transform: uppercase;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            padding-top: 10px;
            padding-bottom: 10px;

            @media screen and (max-width: 576px) {
            font-size: 18px;
            }
            
        }

    }
}