.contenedor-fila {
    .foto-protector {
        margin-top: 50px;
    }

    .detalle-flex {
        margin-top: 50px;

        .variantes {
            display: flex;
            flex-direction: column;
            justify-content:left;
            width: 100%;
            margin-bottom: 30px;

            h2 {
                font-size: 22px;
                text-decoration: underline;

                @media screen and (max-width: 576px) {
                    font-size: 18px;
                }
            }

            p {
                text-align: left;
                font-size: 40px;
                margin-left: 10px;
                color: red;  
            }

            h4 {
                text-align: left;
            }
        }

        a {
            margin-left: 10px;
            text-decoration: none;
            color: red;
            background-color: rgba(255, 0, 0, 0.123);
            border: 1px solid red;
            border-radius: 20px;
            padding: 4px 12px;

            &:hover {
                text-decoration: none;
                color: #FFF;
                background-color: red;
                border: 1px solid red;
                border-radius: 20px;
                padding: 4px 12px;
                transition: all 0.5s;
            }
        }
    }
}

.description {
    background-color: $bg-color-card;
    border-radius: $border-radius;
    box-shadow: $box-shadow-card;
    margin-bottom: 100px;
    padding: 20px;

    h2 {
        text-decoration: underline;
        margin: 0 10px;
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
        margin: 20px 10px;
        text-transform: uppercase
    }

    p {
        margin: 10px;
    }

    @media screen and (max-width: 576px) {
        margin: 50px 0;
    }
}