@import "../base/listas";

.footer-container {

    color: #FFF;
    width: 100%;
    
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .footer {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .contenedor-menu-footer {
            height: auto;
            margin: 10px;

            .menu-footer {

                
                height: auto;
                ul {
                    li {
                        list-style-type: none;
                        margin-top: 5px;

                        &:hover {
                            text-decoration: underline;
                            text-decoration-color: nth($colores, 4);
                            transition: all 2s;
                        }

                        a {
                            color: white;
                            text-decoration: none;
                            margin: 15px 0;
                            font-size: 18px;
                        

                            @media screen and (max-width: 576px) {
                                font-size: 16px;
                            }
    
                        }
                    }

                    @media screen and (max-width: 576px) {
                        padding-left: 0;
                    }

                }

            }

            @media screen and (max-width: 576px) {
                margin: 6px 0 10px 20px;
            }

        }

        .social {
            display: flex;
            justify-content: center;
            align-items: center;


            .redes-sociales {
                text-align: center;

                h4 {
                    @media screen and (max-width: 576px) {
                        display: none;
                    }
                }
                a {
                    text-decoration: none;
                    
                    i {
                        color: #FFF;
                        font-size: 30px;
                        margin: 10px;

                        @media screen and (max-width: 576px) {
                        
                            font-size: 15px;
                            margin: 5px;
                        }
                    }

                }
            }
        
        }
        
    }

    .medios {
        margin: 20px 0;
        width: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .texto-medios {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
     

            h5 {
                width: 100%;
                margin: 0;

                @media screen and (max-width: 576px) {
                    width: 100%;
                    margin: 0 0 5px 4px;
                    font-size: 16px;
                }
            }

            .tarjetas{
                
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;


                img {
                    height: 25px;
                    margin: 5px;

                    @media screen and (max-width: 576px) {
                        height: 15px;
                        margin: 2px;
                    }
                }

                p {
                    margin: 0;
                }
            }

            h5 {
                width: 100%;
                margin: 10px 0;

                @media screen and (max-width: 576px) {
                    width: 100%;
                    margin: 5px 0 5px 4px;
                    font-size: 16px;
                }
            }

            .mercado-envios {
                width: 100%;
                display: flex;
                justify-content: flex-start;

                img {
                    height: 25px;
                    margin: 5px;

                    @media screen and (max-width: 576px) {
                        height: 15px;
                        margin: 2px;
                    }
                }
            }

    

        }


        @media screen and (max-width: 576px) {
            width: 50%;
            margin: 5px;
            padding: 0 0 35px 0;
        }

    }


    .desarrollo {

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        

        .textos-desarrollo {

            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            

            .texto1 {
                p {
                    color: white;
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 0;
                    font-size: 14px;

                    @media screen and (max-width: 576px) {
                        font-size: 12px;
                    }
                }
            }

            .texto2 {
                p {
                    color: white;
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 0;
                    font-size: 16px;

                    @media screen and (max-width: 576px) {
                        font-size: 12px;
                    }
                }

            }

            @media screen and (max-width: 576px) {
                    width: 100%;
            }
        }
    }
}
