
.titulo-nosotros {
    h1 {
        text-align: center;
        color: red;
        margin: 50px 0 50px 0;
        padding: 20px 0;
        font-family: "Roboto";
        font-size: 3em;
        font-weight: bold;
        text-shadow: 1px 2px 4px rgb(194, 189, 189);
       
    }

}

.contenedor-nosotros {
    margin: 50px auto;
    padding-bottom: 300px;

    .marco-nosotros {
        width: 90%;
        background-color: rgba(181, 247, 236, 0.5);
        padding: 20px;
        margin: auto;
        border-radius: 6px;
        box-shadow: 1px 2px 2px grey;

        img {
            width: 100%;
            border-radius: 5px;
            &:hover {
                transform: rotate(2deg);
                transition: all 0.5s;
                box-shadow: $box-shadow-hover;
            }
        }

        .texto-nosotros {
            padding: 20px;
            text-align: justify;

            @media screen and (max-width: 576px) {
                padding: 0;
                margin: 20px 0;
            }
        }

    }

    @media screen and (max-width: 576px) {
        margin: 35px auto;
        padding-bottom: 50px;
    }
}