@import "../base/extends";
@import "../base/mixins";

.section-encabezado {
    .encabezado {

        h1 {
            text-align: center;
            margin-top: 40px;
            color: red;
        }
    }

}

.container-stickers {

    .row-stickers {
        .descripcion {
            @include contenedor-texto(auto, 30px 0, 10px 30px, 6px, 1px 2px 2px grey);
            background-color: $bg-color-card;

            p {
                text-align: justify;

            }

            @media screen and (max-width: 576px) {
                width: 95%;
                margin: 20px auto 50px;
            }
        }
    }
}

.container-stickers {

    .container-row {
        margin-bottom: 100px;
        padding: 0 100px;

        .producto {
            background-color: $bg-color-card;
            padding: 15px;
            margin: 30px;
            border-radius: $border-radius-tb;
            box-shadow: $box-shadow-card;
            @extend %dflex;
            flex-direction: column;


            &:hover {
                box-shadow: $box-shadow-hover;
            }

            img {
                width: 100%;
                border-radius: 5px; 

                &:hover {
                    transform: rotateY(360deg);
                    transition: all 2s;
                }
                
            }

            h3 {
                font-family: 'Poppins', sans-serif;
                font-size: 20px;
                margin: 10px;
                text-align: center;
            }

            p {
                margin: 0 auto;
                width: 30%;
                font-size: 30px;

            }

            a {
                text-decoration: none;
                color: red;
                border: 1px solid red;
                border-radius: 20px;
                padding: 2px 12px;

                &:hover {
                    text-decoration: none;
                    color: #FFF;
                    background-color: red;
                    border: 1px solid red;
                    border-radius: 20px;
                    padding: 2px 12px;
                    transition: all 1s;
                }

            }

            @media screen and (max-width: 576px) {
                padding: 15px;
                margin: 10px;
            }

        }

        @media screen and (max-width: 576px) {
            margin: 0 0 80px 0;
            padding: 0;
        }
    }
}