@import "../base/extends";
@import "../base/mixins";
@import "../base/variables";

.section-encabezado {
    .encabezado {

        h1 {
            text-align: center;
            margin-top: 20px;
            color: red;
        }
    }

}

.container-stickers {

    .row-stickers {
        .descripcion {
            @include contenedor-texto(auto, 10px 0, 10px 30px, 6px, 1px 2px 2px grey);
            background-color: $bg-color-card;

            p {
                text-align: justify;

            }

            @media screen and (max-width: 576px) {
                width: 95%;
                margin: 20px auto 50px;
            }
        }
    }
}

.container-stickers {

    .container-row {
        margin: 50px 0 100px 0;
        padding: 0 100px;

        .producto {
            background-color: #FFF;
            width: 80%;
            border: 1px solid grey;
            border-radius: $border-radius-tb;
            margin: auto;
 
            padding-bottom: 20px;
            box-shadow: map-get($cards-productos, sombra-cards);
            text-align: center;

            &:hover {
                box-shadow: $box-shadow-hover;
            }

            img {
                width: 100%;

                &:hover {
                    transform: rotateY(360deg);
                    transition: all 2s;
                }
                
            }

            h4 {
                text-align: left;
                font-family: "Roboto";             
                font-size: 16px;
                padding: 6px 0 0 0;
                margin: 5px 0 0 10px;

                @media screen and (max-width: 576px) {
                    text-align: left;
                    font-size: 20px;;
                    margin-left: 15px;
                }
            }

            p {
                margin: 5px auto;
                width: 30%;
                font-size: 25px;
                font-family: "Roboto"; 
                text-align: left;
            }

            a {
                text-decoration: none;
                color: red;
                border: 1px solid red;
                border-radius: 20px;
                padding: 2px 12px;

                &:hover {
                    text-decoration: none;
                    color: #FFF;
                    background-color: red;
                    border: 1px solid red;
                    border-radius: 20px;
                    padding: 2px 12px;
                    transition: all 1s;
                }

            }

            @media screen and (max-width: 576px) {
                padding: 15px;
                margin: 10px;
            }

        }

        @media screen and (max-width: 576px) {
            margin: 0 0 80px 0;
            padding: 0;
        }
    }
}