.ubicacion {
    width: 100%;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 576px) {
        margin-bottom: 80px;
    }

    .plano {
        margin: 50px 10px 100px 300px;
        border: 1px solid black;
        @media screen and (max-width: 576px) {
            width: auto;
            margin: 0;
        }
    }

    .direccion {
        width: 20%;
        height: 60px;
        margin-top: 150px; 
        margin-right: 100px; 
        @media screen and (max-width: 576px) {
            margin-left: 20px;

        }
    }
}